/* geral */

html {
  font-family: "Open sans", "sans-serif";
  color:#373A3C;
}

a {
  transition: .5s;
}

/* sidebar */

#sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #b18ab6;
  padding-top: 40px;
}

#sidebar h1 {
  color: #FFF;
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#sidebar a {
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
}

#sidebar a:hover {
  color: #583ef5;
}

#sidebar li {
  padding: 20px;
}

.sidebar-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.logo-confeitaria {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/*  Conteudo */

.content {
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
}

.content h1, .content h2 {
    color: #006599;
    margin-bottom: 30px;
}

.content h1 {
  font-size: 48px;
  
}

.content h2 {
  font-size: 35px;
}

section {
  padding-left: 50px;
}

/* Bem vindo */

#sessao-bemvindo {
  padding-left: 0px;
}

.sessao-bemvindo-content {
  padding-left: 50px;
}

#sessao-bemvindo .banner {
  height: 500px;
  width: 100%;
  background-image: url("../img/bannerT.jpg");
  background-position: center;
}

#sessao-bemvindo h1 {
  margin-top: 70px;
}

#sessao-bemvindo::after, #sessao-sobre::after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 100px;
}

.sessao-minibanner {
  width: 300px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-image: url("../img/banner3.jpg");
  float: left;
}

.sessao-descricao {
  position: absolute;
  left: 370px;
  padding-right: 30px;
}

.sessao-descricao p {
  line-height: 2;
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.sessao-bemvindo-btn, form input[type=submit] {
  background-color: #006599;
  color: #FFF;
  text-decoration: none;
  padding: 20px 40px;
  transition: .5s;
  display: block;
  width: 100px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-left: 25px;
}

.sessao-bemvindo-btn:hover, form input[type=submit]:hover {
  background-color: #2796c6;
}

/* Sessao sobre  */

#sessao-sobre .sessao-minibanner {
  float: right;
  margin-right: 100px;
  background-image: url("../img/banner4.jpg");
}

#sessao-sobre .sessao-descricao {
  position: absolute;
  left: 25px;
  width: calc(100% - 400px);
}

/* Sessao Galerias */

.banner-galeria {
  background-position: center;
  background-repeat: cover;
  display: inline-block;
  height: 202px;
}

#sessao-doces, #sessao-salgado, #sessao-pizza {
    padding-right: 50px;
    margin-bottom: 50px;
}

.doces-imgs {
  width: 19.0%;
  margin-left: .5%;
  margin-left: .5%;
}

#img1 {
  background-image: url("../img/galeria2.jpg");
  margin-left: 0px;
}

#img2 {
  background-image: url("../img/galeria5.jpg");
  
}

#img3 {
  background-image: url("../img/galeria6.jpg");

}

#img4 {
  background-image: url("../img/galeria11.jpg");
  
}

#img5 {
  background-image: url("../img/galeria3.jpg");
  margin-right: 0px;
}

.salgado-imgs {
  width: 32.3%;
  height: 300px;
  margin-left: .5%;
  margin-left: .5%;
}

#img6 {
  background-image: url("../img/salgados1.jpg");
  margin-left: 0;
}

#img7 {
  background-image: url("../img/salgado2.jpg");
}

#img8 {
  background-image: url("../img/salgado3.jpg");
  margin-right: 0;
}

.pizza-imgs {
  width: 32.3%;
  height: 300px;
  margin-left: .5%;
  margin-left: .5%;
}

#img9 {
  background-image: url("../img/pizza1.png");
  margin-left: 0;
}

#img10 {
  background-image: url("../img/pizza2.png");
}

#img11 {
  background-image: url("../img/pizza3.png");
  margin-right: 0;
}

footer {
  height: 50px;
  width: 100%;
  background: blue;
}

#form-contato {
  width: 500px;
}

#form-contato input[type=text], #form-contato input[type=email], #form-contato textarea {
  display: block;
  border: 1px solid #006599;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Open sans-serif", sans-serif;
}

#form-contato input[type=text], #form-contato input[type=email], #form-contato textarea {
  border-color: #006599;
}

#form-contato {
  height: 150px;
}

#form-contato ::placeholder {
  color: #2796c6;
}

#form-contato input[type=submit] {
  margin-left: 0;
  font-size: 16px;
  width: 180px;
}