.main {
  background: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border: 1px solid black;
}

.main h1 {
  font-size: 24px;
  text-align: center;
}


.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background-color: #c242a6;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button[type="submit"]:hover {
  background-color: #a02485;
  transition: 0.5s;
}
