.btn {
  height: 30px;
  width: 60px;
  display: block;
  position: relative;
  border-radius: 4px;
  color: #fff;
  background-color: blueviolet;
  border: 2px solid black;  
  cursor: pointer;
  transition: 1s;
  margin-bottom: 25px;
}

.btn:hover {
  color: #333;
  background: #ff7963;
}

.transition {
  width: 50px;
  height: 100px;
  background-color: blue;
  transition: 1.5s;
}

.transition:hover {
  width: 300px;
  background-color:violet;
}

/* Calc */

.div-calc {
  height: 250px;
  width: 500px;
  position: relative;
  margin: 20px;
  background-color: #ddd;
  border: 1px solid violet
}

.innerdiv-calc {
  height: 50px;
  margin: 10px;
  position: relative;
  background-color: orangered;
}

.calc1 {
  width: calc(25% );
}

.calc2 {
  width: calc(50%);
}

.calc3 {
  width: calc(75%);
}

.calc4 {
  width: calc(50% / 2);
  margin: 0;
}

/*  Gradient  */

.gradient-box {
  width: 500px;
  height: 200px;
  position: relative;
  margin: 20;
}


.gradient-box2 {
  width: 300px;
  height: 200px;
  position: relative;
  margin: 20;
}

.gradient1 {
  background-image: linear-gradient(black, orangered);
}

.gradient2 {
  background-image: linear-gradient(to right, black, orangered);
}

.gradient3 {
  background-image: linear-gradient(to left, black, orangered);
}

.gradient4 {
  background-image: linear-gradient(to top, black, orangered);
}

.gradient5 {
  background-image: linear-gradient( black, orangered);
}

.gradient7 {
  background-image: radial-gradient(#323042 10%, #DB9D47 30%, #FF784F );
}

.gradient8 {
  background-image: radial-gradient(violet 20%, blue 40%, pink);
}

.gradient9 {
  background-image: radial-gradient(circle, blue, red, purple);
}

